<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>/usr/share/maven/ref/repository</localRepository>
    <profiles>
        <profile>
            <id>${env.CODEARTIFACT_REPO_ID}</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>${env.CODEARTIFACT_REPO_ID}</id>
                    <url>
                        https://${env.CODEARTIFACT_REPO_URL}/maven/${env.CODEARTIFACT_REPO_ENV}/
                    </url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <servers>
        <server>
            <id>${env.CODEARTIFACT_REPO_ID}</id>
            <username>aws</username>
            <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
        </server>
    </servers>
    <activeProfiles>
        <activeProfile>${env.CODEARTIFACT_REPO_ID}</activeProfile>
    </activeProfiles>
</settings>
